[submodule "api"]
	path = api
	url = https://github.com/kkn1125/nuvia-api.git
	branch = main
[submodule "frontend"]
	path = frontend
	url = https://github.com/kkn1125/nuvia-frontend.git
	branch = main
