[submodule "api"]
	path = api
	url = https://github.com/kkn1125/snappoll-api.git
	branch = main
[submodule "frontend"]
	path = frontend
	url = https://github.com/kkn1125/snappoll-frontend.git
	branch = main
