[submodule "api"]
	path = api
	url = https://github.com/team-nuvia/nuvia-backend.git
	branch = main
[submodule "frontend"]
	path = frontend
	url = https://github.com/team-nuvia/nuvia-frontend.git
	branch = main
